In [7]:
##Create a tuple named my_tuple containing at least five different elements (mix of integers, strings, and a float).
my_tuple = (42, "apple", 3.14, "hello", 7)

In [9]:
#Print the tuple.
print(my_tuple)

(42, 'apple', 3.14, 'hello', 7)

In [11]:
#Accessing Elements
print(my_tuple[0])  # Output: 42
print(my_tuple[1])  # Output: "apple"
print(my_tuple[2])  # Output: 3.14

42
apple
3.14

In [17]:
# First element
print("First element:", my_tuple[0])
# Last element
print("Last element:", my_tuple[-1])

First element: 42
Last element: 7

In [15]:
# Second last element
print("Second last element:", my_tuple[-2])

Second last element: hello

In [19]:
# Slice the first three elements
print("First three elements:", my_tuple[0:3])

First three elements: (42, 'apple', 3.14)

In [21]:
# Slice the last two elements
print("Last two elements:", my_tuple[-2:])

Last two elements: ('hello', 7)

In [23]:
another_tuple = ("banana", 99)
# Concatenate the tuples
combined_tuple = my_tuple + another_tuple
print("Concatenated tuple:", combined_tuple)

Concatenated tuple: (42, 'apple', 3.14, 'hello', 7, 'banana', 99)

In [25]:
# Repeat the tuple twice
repeated_tuple = my_tuple * 2
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (42, 'apple', 3.14, 'hello', 7, 42, 'apple', 3.14, 'hello', 7)

In [27]:
# Find index of "apple"
index_of_apple = my_tuple.index("apple")
print("Index of 'apple':", index_of_apple)

Index of 'apple': 1

In [29]:
# Count occurrences of 42
count_42 = my_tuple.count(42)
print("Occurrences of 42:", count_42)

Occurrences of 42: 1

In [31]:
# Try changing the first element
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [33]:
#Tuples are immutable, which means you cannot change, add, or remove elements once a tuple is created. Any attempt to modify it directly like this will raise a TypeError.

In [35]:
# Tuple packing
my_tuple = ("Akhila", 25, "Engineer")

# Tuple unpacking
name, age, profession = my_tuple

# Print the individual variables
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: Akhila
Age: 25
Profession: Engineer

In [37]:
# Iterate through the tuple and print each element
for element in my_tuple:
    print(element)

Akhila
25
Engineer

In [39]:
def get_person_info():
    name = "Alice"
    age = 30
    profession = "Engineer"
    return name, age, profession  # This returns a tuple

In [41]:
# Call the function and store the returned tuple
person_info = get_person_info()

# Print the returned tuple
print("Returned tuple:", person_info)

Returned tuple: ('Alice', 30, 'Engineer')